body {
  font-family: 'Courier New', Courier, monospace;
}

header {
  background-color: lightskyblue;
  width: 616px;
  text-align: center;
}

h2 {
  background-color: #000080;
  color: lightgrey;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

h3 {
  background-color: lightgrey;
  color: #000080;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

img {
  width: 600px;
}

.info {
  border: 8px solid lightskyblue;
  width: 600px;
}